
<div class="backgroundLightGray">
      <div class="row paddingCustom">
          <div class="col-md-1 col-lg-1  col-sm-1 col-xlg-1">
            <div class="flexcontenersideBar">
                  <app-side-menu></app-side-menu>
            </div>
          </div>
          <div class="col-md-9 col-lg-9  col-sm-9 col-xlg-9">
            <div class="flexcontener backgroundColorWhite">
            </div>
            </div>
      <div class="col-md-2 col-lg-2  col-sm-2 col-xlg-2">
            <div class="flexcontener" style="box-shadow:none !important;">
                <div class="inspectionC" >
                  <span style=" display: flex;
                      flex-direction: row;
                      align-content: center;
                      justify-content: space-between;
                      align-items: center;">
                        <div >
                              <img src="assets/images/sideMenu/play.png" style="width: 50px;cursor: pointer;"alt="medifast"/>
                        </div>
                        <div style="padding: 2px 15px;
                        background-color: green;border-radius: 4px;">
                              <h2 style="color: #ffff;">XRAY ON</h2>
                        </div>
                  </span>
               </div>
                  <div class="inspectionC">
                        <h2 class="headingTextStyle">Inspection Criteria</h2>
                        <div>
                              <span class="inspectionBtn">
                                    <button class="btn btn-light sealBtn" (click)=sealFuction();>Seal</button>
                                    <span class="sealStatus"></span>
                              </span>
                        </div>
                        <div>
                              <span class="inspectionBtn">
                                    <button class="btn btn-light sealBtn">FM &nbsp;</button>
                                    <span class="sealStatus"></span>
                              </span>
                        </div>
                  </div>
                  <div class="inspectionC">
                        <h2 class="headingTextStyle">Product Running</h2>
                        <div class="row">
                             
                                    <div class="col-md-8 col-lg-8  col-sm-8 col-xlg-8">
                                          <div class=" little-profile">
                                                <h6 class="text-muted">Total Inspected</h6>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4  col-sm-4 col-xlg-4">
                                          <div class="little-profile">
                                                <span class="headingTextStyle">:&nbsp;999</span>
                                            </div>
                                    </div>
                                    <div class="col-md-8 col-lg-8  col-sm-8 col-xlg-8">
                                          <div class=" little-profile">
                                                <h6 class="text-muted">Total Good</h6>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4  col-sm-4 col-xlg-4">
                                          <div class=" little-profile">
                                                <span class="headingTextStyle" style="color: green;">:&nbsp;999</span>
                                            </div>
                                    </div>

                                    <div class="col-md-8 col-lg-8  col-sm-8 col-xlg-8">
                                          <div class=" little-profile">
                                                <h6 class="text-muted">Total Rejects</h6>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4  col-sm-4 col-xlg-4">
                                          <div class="little-profile">
                                                <span class="headingTextStyle" style="color: red;">:&nbsp;0</span>
                                            </div>
                                    </div>
                                    <div class="col-md-8 col-lg-8  col-sm-8 col-xlg-8">
                                          <div class=" little-profile">
                                                <h6 class="text-muted">Fail Rate</h6>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4  col-sm-4 col-xlg-4">
                                          <div class=" little-profile">
                                                <span class="headingTextStyle">:&nbsp;0.5%</span>
                                            </div>
                                    </div>

                                    <div class="col-md-8 col-lg-8  col-sm-8 col-xlg-8">
                                          <div class=" little-profile">
                                                <h6 class="text-muted">PPM</h6>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4  col-sm-4 col-xlg-4">
                                          <div class="little-profile">
                                                <span class="headingTextStyle">:&nbsp;30</span>
                                            </div>
                                    </div>
                                    <div class="col-md-8 col-lg-8  col-sm-8 col-xlg-8">
                                          <div class=" little-profile">
                                                <h6 class="text-muted">Lot</h6>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4  col-sm-4 col-xlg-4">
                                          <div class=" little-profile">
                                                <span class="headingTextStyle">:&nbsp;</span>
                                            </div>
                                    </div>

                            
                       
                        </div>
                  </div>
                  <div class="inspectionC">
                        <h2 class="headingTextStyle">Last Reject Image</h2>
                        <div style="padding: 1px;text-align: center;">
                              <img style="width: 100%;height: auto;" src="assets/images/background/rejectImage.PNG" />
                        </div>
                      
                  </div>
                  <!-- <div class="xrayOn" style="margin-top: 14px;"><h2>REJECT</h2></div> -->
            </div>
           
      </div>
      </div>
  </div>

 

