<div class="login-register auth_bg">
  <div class="login-box card">
  <div class="card-body" style="box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15) !important;">
      <form #userSignup="ngForm" class="form-horizontal form-material" id="loginform">
        <span style="display: flex; justify-content: center;">
           <img class="auth_logo" style="width:75%; height: auto;"src="../../../assets/images/background/text-logo.png">
        </span>
        <h3 class="box-title m-b-20 text-center">Update Password</h3>
        <div class="form-group m-t-40">
          <div class="col-xs-12 m-b-20" >
              <input autocomplete="off" type="password" class="form-control" id="OldpassWord" name="OldpassWord" placeholder="Enter old password" [(ngModel)]="oldpassword" minlength="8" maxlength="15" #password="ngModel" (keydown.space)="$event.preventDefault()" required>
              <div class="input-group m-t-5 m-b-5">
                  <div [hidden]="password.valid || password.pristine" class="custom_alert custom_alert-danger m-t-5">
                      <div style="font-size: 15px;" [hidden]="!password.hasError('required')"><i class="fa fa-info-circle"></i> Password is required
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 m-b-20">
            <input type="password" class="form-control" id="NewpassWord" name="NewpassWord" [pattern]="passwordPattern" placeholder="Enter new password" [(ngModel)]="newPassword" minlength="8" maxlength="15" #pass="ngModel" (keydown.space)="$event.preventDefault()" required>
            <div class="input-group m-t-5 m-b-5">
                <div [hidden]="pass.valid || pass.pristine" class="custom_alert custom_alert-danger m-t-5">
                    <div style="font-size: 15px;" [hidden]="!pass.hasError('required')"><i class="fa fa-info-circle"></i> New password is required
                    </div>
                    <div style="font-size: 15px;" [hidden]="!pass.hasError('pattern')"><i class="fa fa-info-circle"></i> Please enter valid new password
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 m-b-20">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [pattern]="passwordPattern" placeholder="Enter confirm password" [(ngModel)]="confirmPassword" minlength="8" maxlength="15" #Cpass="ngModel" (keydown.space)="$event.preventDefault()" required>
          <div class="input-group m-t-5 m-b-5">
              <div [hidden]="Cpass.valid || Cpass.pristine" class="custom_alert custom_alert-danger m-t-5">
                  <div style="font-size: 15px;" [hidden]="!Cpass.hasError('required')"><i class="fa fa-info-circle"></i> Confirm password is required
                  </div>
                  <div style="font-size: 15px;" [hidden]="!Cpass.hasError('pattern')"><i class="fa fa-info-circle"></i> Please enter valid Confirm password
                  </div>
              </div>
          </div>
      </div>
        <div class="col-xs-12 m-b-20">
          <input class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [(ngModel)]="email" required type="text"  #usremail="ngModel" placeholder="Enter user email">
          <div class="input-group m-t-5 m-b-5">
              <div [hidden]="usremail.valid || usremail.pristine" class="custom_alert custom_alert-danger m-t-5">
                  <div style="font-size: 15px;" [hidden]="!usremail.hasError('required')"><i class="fa fa-info-circle"></i> User email is required
                  </div>
                  <div style="font-size: 15px;" [hidden]="!usremail.hasError('pattern')"><i class="fa fa-info-circle"></i> Please enter valid email address
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="form-group text-center p-b-20">
        <div class="col-xs-12">
          <!-- <button (click)="updatePassword()" [disabled]="userSignup.invalid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Update Password</button> -->
          <button style="width: 100%; height: 2.5rem;display: flex;justify-content: center;align-items: center;"class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light text-white" (click)="updatePassword()" [disabled]="userSignup.invalid">Update Password</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
