


<div class="backgroundLightGray">
    <div class="row ">
      
        <div class="col-md-12 col-lg-12  col-sm-12 col-xlg-12">
          <div class="flexcontener">
                        
            <!-- New code -->
            <div class="container">
                <form #adduserform="ngForm">
                    <div class="row card_style backgroundColorWhite">
                        <div class="col-md-12 col-lg-12  col-sm-12 col-xlg-12">
                                <h3 class="box-title text-center" style="margin-bottom: 2px;">
                                    <span class="headingTextStyle">Fill the basic details for user</span>
                                </h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6  col-sm-6 col-xlg-6">
                                        <div class=" little-profile m-b-10">
                                            <h6 class="text-muted f-s-label"><span class="text-danger">*&nbsp;</span>User Name</h6>
                                            <input type="text" class="form-control input_BOX input-box-text-style" placeholder="Enter user name"
                                                [(ngModel)]="userName" name="userName" required
                                                #uName="ngModel" id="uName">
                                                <div class="input-group m-t-5 m-b-5">
                                                    <div [hidden]="uName.valid || uName.pristine" class="custom_alert custom_alert-danger m-t-5">
                                                        <div style="font-size: 13px;" [hidden]="!uName.hasError('required')"><i class="fa fa-info-circle"></i> User name is required
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6  col-sm-6 col-xlg-6">
                                        <div class=" little-profile m-b-10">
                                            <h6 class="text-muted f-s-label"><span class="text-danger">*&nbsp;</span>Password</h6>
                                            <input type="password" class="form-control input_BOX input-box-text-style" placeholder="Enter password"
                                                [(ngModel)]="password"  name="lastname" required
                                                #pwd="ngModel" id="pwd">
                                                <div class="input-group m-t-5 m-b-5">
                                                    <div [hidden]="pwd.valid || pwd.pristine" class="custom_alert custom_alert-danger m-t-5">
                                                        <div style="font-size: 13px;" [hidden]="!pwd.hasError('required')"><i class="fa fa-info-circle"></i> password is required
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6  col-sm-6 col-xlg-6">
                                        <div class=" little-profile m-b-10">
                                            <div class="form-group has-success">
                                                <h6 class="text-muted f-s-label"><span class="text-danger">*&nbsp;</span>Access Level</h6>
                                                <select [(ngModel)]="accessLevel"  required
                                                #aLevel="ngModel" name="aLevel" class="form-control input_BOX input-box-text-style custom-select" id="selectedCompanyName">
                                                    <option value="">Select Access Level</option>
                                                    <option value="Engineer">Engineer</option>
                                                    <option value="QAQC">QAQC</option>
                                                </select>
                                                <div class="input-group m-t-5 m-b-5">
                                                    <div [hidden]="aLevel.valid || aLevel.pristine" class="custom_alert custom_alert-danger m-t-5">
                                                        <div style="font-size: 13px;" [hidden]="!aLevel.hasError('required')"><i class="fa fa-info-circle"></i>please Select access level
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6  col-sm-6 col-xlg-6">
                                        <div class=" little-profile m-b-10">
                                            <div class="form-group has-success">
                                                <h6 class="text-muted f-s-label"><span class="text-danger">*&nbsp;</span>Default Language</h6>
                                                <select [(ngModel)]="userLanguage" name="language" required
                                                #language="ngModel" class="form-control input_BOX input-box-text-style custom-select" id="selecteduserRole">
                                                    <option value="">Select language</option>
                                                    <option value="EN">English</option>
                                                    <option value="HI">हिंदी</option>
                                                </select>
                                                <div class="input-group m-t-5 m-b-5">
                                                    <div [hidden]="language.valid || language.pristine" class="custom_alert custom_alert-danger m-t-5">
                                                        <div style="font-size: 13px;" [hidden]="!language.hasError('required')"><i class="fa fa-info-circle"></i>please Select Language
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row ">
                                    <div class="col-lg-12 m-b-20 d-flex justify-content-center">
                                        <button (click)="cancelButton()" class="btn btn-danger m-l-20"><i class="fa fa-times mr-2"></i>Cancel</button>
                                        <button  (click)="saveuserdetails()" [disabled]="!adduserform.valid" class="btn btn-info m-l-20"><i class="fa fa-save mr-2"></i>Add</button>
                                        </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
          </div>
    </div>
</div>








