<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->

<ul class="navbar-nav mr-auto float-left">                
    <!-- <li (click)="toggleSidebar.emit()" class="nav-item m-l-10"> <a class="nav-link sidebartoggler text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li> -->
    <li class="nav-item dropdown mega-dropdown" style="margin-left: 21px;" ngbDropdown [autoClose]="true"> <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark" style="margin-top: 5px;" href="javascript:void(0)"><i class="ti-menu" style="font-size: 18px;"></i></a>
        <div class="dropdown-menu animated slideInDown" ngbDropdownMenu >
            <ul class="mega-dropdown-menu row">
                <div class="wrapper1">
                    <div class="sidebar1">
                        <ul>
                            <li class="cursorPointer" (click)="goToHome();"><a><img src="assets/images/sideMenu/home.png"   class="sidebarImageIcon" alt="medifast"/>Home</a></li>
                            <li class="cursorPointer" (click)="goToProducts();"><a><img src="assets/images/sideMenu/package.png" class="sidebarImageIcon" alt="medifast"/>Product</a></li>
                            <li class="cursorPointer" (click)="goToUsers();"><a><img src="assets/images/sideMenu/profile.png"  class="sidebarImageIcon" alt="medifast"/>User</a></li>
                            <li class="cursorPointer" ><a><img src="assets/images/sideMenu/cloud.png" class="sidebarImageIcon" alt="medifast"/>Cloud</a></li>
                            <li class="cursorPointer"><a><img src="assets/images/sideMenu/key.png" class="sidebarImageIcon" alt="medifast"/>Perform Validation</a></li>
                            <li class="cursorPointer" (click)="goTostatisticalhistory();"><a><img src="assets/images/sideMenu/bar.png"  class="sidebarImageIcon" alt="medifast"/>Statistical History</a></li>
                            <li class="cursorPointer" (click)="goToSettings();"><a><img src="assets/images/sideMenu/setting.png" class="sidebarImageIcon" alt="medifast"/>Settings</a></li>
                        </ul>
                      
                        <!-- <ul id="sidebarnav">
                            <li [ngClass]="{'active': menus[2]}">
                               <a (click)="navmenuclick(2)" class="has-arrow" [attr.aria-expanded]="true ? menus[2]:true">
                                  
                                   <img src="assets/images/sideMenu/home.png"   class="sidebarImageIcon" alt="medifast"/>
                                   <span class="hide-menu">Home</span></a>
                               <ul *ngIf=menus[2] class="collapse in">
                                  <li><a [ngClass]="{'active': submenu['2.0']}" >Manage Customers</a></li>
                                  <li><a [ngClass]="{'active': submenu['2.1']}" >Add Customer</a></li>
                               </ul>
                            </li>
                            <li [ngClass]="{'active': menus[3]}">
                               <a (click)="navmenuclick(3)" class="has-arrow" [attr.aria-expanded]="true ? menus[3]:true"><i class="fa fa-user-plus m-r-5" aria-hidden="true"></i><span class="hide-menu">Staff</span></a>
                               <ul *ngIf=menus[3] class="collapse in">
                                  <li><a [ngClass]="{'active': submenu['3.0']}" ><i class="fa fa-caret-right m-r-5"></i>Manage Staff</a></li>
                                  <li><a [ngClass]="{'active': submenu['3.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add Staff</a></li>
                               </ul>
                            </li>
                            <li [ngClass]="{'active': menus[4]}">
                               <a (click)="navmenuclick(4)" class="has-arrow" [attr.aria-expanded]="true ? menus[4]:true"><i class="fa fa-files-o m-r-5" aria-hidden="true"></i><span class="hide-menu">Pages</span></a>
                               <ul *ngIf=menus[4] class="collapse in" aria-expanded="false">
                                  <li><a [ngClass]="{'active': submenu['4.0']}" ><i class="fa fa-caret-right m-r-5"></i>All Pages</a></li>
                                  <li><a [ngClass]="{'active': submenu['4.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add New Page</a></li>
                               </ul>
                            </li>
                            <li [ngClass]="{'active': menus[5]}">
                               <a (click)="navmenuclick(5)" class="has-arrow" [attr.aria-expanded]="true ? menus[5]:true"><i class="fa fa-files-o m-r-5" aria-hidden="true"></i><span class="hide-menu">Pages</span></a>
                               <ul *ngIf=menus[5] class="collapse in" aria-expanded="false">
                                  <li><a [ngClass]="{'active': submenu['5.0']}" ><i class="fa fa-caret-right m-r-5"></i>Deepus Pages</a></li>
                                  <li><a [ngClass]="{'active': submenu['5.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add New Page</a></li>
                               </ul>
                            </li>
                         </ul> -->
                   
                        </div>
                 </div> 
               
            </ul>



           <!-- <aside class="left-sidebar">
        <div class="scroll-sidebar">
           <nav class="sidebar-nav">
              <ul id="sidebarnav">
                 <li [ngClass]="{'active': menus[2]}">
                    <a (click)="navmenuclick(2)" class="has-arrow" [attr.aria-expanded]="true ? menus[2]:true"><i class="fa fa-users m-r-5" aria-hidden="true"></i><span class="hide-menu">Customers</span></a>
                    <ul *ngIf=menus[2] class="collapse in">
                       <li><a [ngClass]="{'active': submenu['2.0']}" ><i class="fa fa-caret-right m-r-5"></i>Manage Customers</a></li>
                       <li><a [ngClass]="{'active': submenu['2.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add Customer</a></li>
                    </ul>
                 </li>
                 <li [ngClass]="{'active': menus[3]}">
                    <a (click)="navmenuclick(3)" class="has-arrow" [attr.aria-expanded]="true ? menus[3]:true"><i class="fa fa-user-plus m-r-5" aria-hidden="true"></i><span class="hide-menu">Staff</span></a>
                    <ul *ngIf=menus[3] class="collapse in">
                       <li><a [ngClass]="{'active': submenu['3.0']}" ><i class="fa fa-caret-right m-r-5"></i>Manage Staff</a></li>
                       <li><a [ngClass]="{'active': submenu['3.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add Staff</a></li>
                    </ul>
                 </li>
                 <li [ngClass]="{'active': menus[4]}">
                    <a (click)="navmenuclick(4)" class="has-arrow" [attr.aria-expanded]="true ? menus[4]:true"><i class="fa fa-files-o m-r-5" aria-hidden="true"></i><span class="hide-menu">Pages</span></a>
                    <ul *ngIf=menus[4] class="collapse in" aria-expanded="false">
                       <li><a [ngClass]="{'active': submenu['4.0']}" ><i class="fa fa-caret-right m-r-5"></i>All Pages</a></li>
                       <li><a [ngClass]="{'active': submenu['4.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add New Page</a></li>
                    </ul>
                 </li>
                 <li [ngClass]="{'active': menus[5]}">
                    <a (click)="navmenuclick(5)" class="has-arrow" [attr.aria-expanded]="true ? menus[5]:true"><i class="fa fa-files-o m-r-5" aria-hidden="true"></i><span class="hide-menu">Pages</span></a>
                    <ul *ngIf=menus[5] class="collapse in" aria-expanded="false">
                       <li><a [ngClass]="{'active': submenu['5.0']}" ><i class="fa fa-caret-right m-r-5"></i>Deepus Pages</a></li>
                       <li><a [ngClass]="{'active': submenu['5.1']}" ><i class="fa fa-caret-right m-r-5"></i>Add New Page</a></li>
                    </ul>
                 </li>
              </ul>
           </nav>
        </div>
      </aside> -->
           
        </div>
    </li>

</ul>









<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0 float-right">
    <li class="nav-item dropdown" style="width: 48rem;
    margin-right: 11px;
    margin-top: 14px;" ngbDropdown placement="bottom-right">
        <span style="display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;">
             <span class="tobbartextStyle">
                {{pstTime | date:'MMMM d, y HH:mm:ss a '}}&nbsp;( PST )
             </span>
             <span class="tobbartextStyle">USER : {{userRole}}</span>
             <span class="tobbartextStyle ssdStyle">SSD</span>
             <!-- <button class="btn btn-light">SDD</button> -->
        </span>
     </li>
 
    <!-- ============================================================== -->
    <!-- Search -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item hidden-sm-down search-box" > <a (click)="showSearch = !showSearch" class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
        <form class="app-search" [ngClass]="{'show-search': showSearch}">
            <input type="text" class="form-control" placeholder="Search & enter"> <a (click)="showSearch = !showSearch" class="srh-btn"><i class="ti-close"></i></a> </form>
    </li> -->
    <!-- ============================================================== -->
    <!-- Comment -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link text-muted text-muted waves-effect waves-dark" href="javascript:void(0)"> <i class="mdi mdi-message"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
        </a>
        <div class="dropdown-menu mailbox animated slideInDown" ngbDropdownMenu>
            <ul>
                <li>
                    <div class="drop-title">Notifications</div>
                </li>
                <li>
                    <div class="message-center" [perfectScrollbar]="config">
                       
                        <a href="#" *ngFor="let notification of notifications">
                            <div class="round {{notification.round}}"><i class="{{notification.icon}}"></i></div>
                            <div class="mail-contnet m-l-10">
                                <h5>{{notification.title}}</h5> <span class="mail-desc">{{notification.subject}}</span> <span class="time">{{notification.time}}</span> 
                            </div>
                        </a> 
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                </li>
            </ul>
        </div>
    </li> -->
    <!-- ============================================================== -->
    <!-- End Comment -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Messages -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark" href="javascript:void(0)"> <i class="mdi mdi-email"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
        </a>
        <div class="dropdown-menu mailbox animated slideInDown" ngbDropdownMenu> 
            <ul>
                <li>
                    <div class="drop-title">You have 4 new messages</div>
                </li>
                <li>
                    <div class="message-center" [perfectScrollbar]="config">
                        <a href="#" *ngFor="let mymessage of mymessages">
                            <div class="user-img"> <img src="{{mymessage.useravatar}}" alt="user" class="img-circle" width="40"> 
                                <span class="profile-status {{mymessage.status}} pull-right"></span> 
                            </div>
                            <div class="mail-contnet">
                                <h5>{{mymessage.from}}</h5> 
                                <span class="mail-desc">{{mymessage.subject}}</span> 
                                <span class="time">{{mymessage.time}}</span> 
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                </li>
            </ul>
        </div>
    </li> -->
    <!-- ============================================================== -->
    <!-- End Messages -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Messages -->
    <!-- ============================================================== -->
    <!-- <li class="nav-item dropdown mega-dropdown" ngbDropdown [autoClose]="false"> <a ngbDropdownToggle class="nav-link text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-view-grid" style="font-size: 28px;"></i></a>
        <div class="dropdown-menu animated slideInDown" ngbDropdownMenu >
            <h2 class="text-center">Menu</h2>
            <ul class="mega-dropdown-menu row">
            
            
               
                
                <li class="col-lg-3  m-b-30">
                    <h4 class="m-b-20">CONTACT US</h4>
                   
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter email"> </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                </li>
                <li class="col-lg-3 col-xlg-4 m-b-30">
                    <h4 class="m-b-20">List style</h4>
                    List style
                    <ul class="list-style-none">
                        <li><a href="javascript:void(0)"> Home</a></li>
                        <li><a href="javascript:void(0)">Product</a></li>
                        <li><a href="javascript:void(0)"> Stastical History</a></li>
                        <li><a href="javascript:void(0)"> Settings</a></li>
                       
                    </ul>
                </li>
            </ul>
        </div>
    </li> -->
    <!-- ============================================================== -->
    <!-- End Messages -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/default_img.jpg" alt="user" class="profile-pic" /></a>
        <div class="dropdown-menu animated slideInDown" ngbDropdownMenu>
            <ul class="dropdown-user">
              
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
           
                <li (click)="logOut();" style="cursor: pointer;"><a><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
        </div>
    </li>
</ul>
