

 
  


<div class="sidebarClass">
    <div><img src="assets/images/sideMenu/home.png" (click)="goToHome();"  class="sidebarImageIcon cursorPointer" alt="medifast"/></div>
    <div> <img src="assets/images/sideMenu/package.png" (click)="goToProducts();"class="sidebarImageIcon cursorPointer" alt="medifast"/></div>
    <div><img src="assets/images/sideMenu/profile.png" (click)="goToUsers();" class="sidebarImageIcon cursorPointer" alt="medifast"/></div>
    <div> <img src="assets/images/sideMenu/cloud.png" class="sidebarImageIcon cursorPointer" alt="medifast"/></div>
    <div> <img src="assets/images/sideMenu/key.png" class="sidebarImageIcon cursorPointer" alt="medifast"/></div>
    <div> <img src="assets/images/sideMenu/bar.png" (click)="goTostatisticalhistory();" class="sidebarImageIcon cursorPointer" alt="medifast"/></div>
    <div> <img src="assets/images/sideMenu/setting.png" (click)="goToSettings();"class="sidebarImageIcon cursorPointer" alt="medifast"/></div>

</div>
