
.sidebarClass{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.sidebarImageIcon{
    width: 80%;
    height: auto;
    padding: .5rem 1rem;
}
.customPadding{
    padding: .6rem .6rem;
}
.cursorPointer{
    cursor: pointer;
}