.customButtonHeight{
    line-height: 15px;
}

.flexcontenersideBar{
    /* margin-top: 70px; */
    position: fixed;
    left: 16px;
    top: 62px;
}
.flexcontener{
    margin-top: 38px;
    height: auto
    /* box-shadow: 0 0px 2px rgb(0 0 0 / 62%); */
}
.custom_title{
    font-weight: 600;
    font-size: 18px;
}
.tableHeadingStyle{
    background-color: grey;
    color: #fff;
    line-height: 14px;
}
.productImagstyle{
    width: 57px;
    height: auto;
}

.parantFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
}

.flexcontenerNew{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 23px;
    margin: 15px;
    flex-direction: column;
    cursor: pointer !important;
    color: #ffff;
}

.input-box-text-style{
    line-height: 25px;
    font-size: 14px;
    color: #455a64;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.input_BOX{
    padding: 2px 5px;
   
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #455a64;
}
tr{
    line-height: 1;
    font-weight: 400;
    font-size: 14px;
}
.parantFlexSummary{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
}
.flexcontenerSummary{
    padding: 18px;
    border-radius: 23px;
    margin: 8px;
    flex-direction: column;
    width: 400px;
    cursor: pointer !important;
    color: #ffff;
}
.customTd{
    background-color: #f3f1f1;
    font-weight: 600;
}
.custom_border {
    border-color: #aba5a5;
}
.customBackground{
    background-color:gray;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
}
.custom_border_top{
    border-top: 2px solid gray;
}
.paddingCustom{
    padding: 1px 22px 1px 6px;
}
.backgroundLightGray{
    background-color: #ebebeb73;
}
.backgroundColorWhite{
    background-color: #fff;
}
.ngxImageZoomThumbnail{
    width: 100%;
    height: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: gray;
    font-weight: 600;
}
a {
    color: gray;
    font-weight: 500;
}
.filterBtn{
    float: right;
    margin-top: 14px;
    margin-right: 22px;
    box-shadow: none;
}
.statisticalhistoryTitle{
    padding-top: 18px;
    font-size: 22px;
    font-weight: 500;
}
.customBackgroundColor{
    background-color: #2d6875;
}
.headersStyle{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.fontWeight{
    font-weight: 500;
}
.sortIcon {
    margin: -6px 0px;
    position: relative;
    font-size: 16px;
}
.cursor_pointer{
    cursor: pointer;
}
.historyHeading{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    background: #f6f6f6;
    color: gray;
    padding: 0px 0px 0px 12px;
    box-shadow: 0px 0px 2px 0px grey;
    margin-bottom: 1.25rem;
    border-radius: 2px;
  }
  .disPro{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .norecords{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 26px;
  }