


<div class="backgroundLightGray">
    <div class="row">
        <div class="col-md-12 col-lg-12  col-sm-12 col-xlg-12">
            <div class="flexcontener backgroundColorWhite">
                <div class="row ">
                    <div class="col-md-12 col-lg-12  col-sm-12 col-xlg-12">
        <!-- List -->
                    <div class="m-t-20 ">
                        <div class="card customBoxShadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xlg-12">
                                      <div class="disPro historyHeading">
                                        <span>
                                        <strong>Records</strong>
                                        </span>
                                        <span>
                                            <button class="btn btn-warning  pull-right" style="height: 2.4rem;" (click)="FilterModelFunction(filterrecords);">Filter Records</button>
                                        </span>
                                    </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr class="tableHeadingStyle">
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center"> ID
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center"> Time
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center"> Judgement
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center"> Defect Type
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center"> Inspection Result
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center"> Seal Score
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                        <th class="th_top">
                                                            <span  class="d-flex justify-content-start align-items-center">Seal Defect Location
                                                                <span class="d-flex flex-column justify-content-end align-items-center ml-3">
                                                                    <i aria-hidden="true" class="fa fa-sort-up font-12 cursor_pointer sortIcon"></i>
                                                                    <i aria-hidden="true" class="fa fa-sort-down font-12 cursor_pointer sortIcon"></i>
                                                                </span>
                                                            </span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let record of allrecords">
                                                        <td class="cursor_pointer">{{record.id}}</td>
                                                        <td class="cursor_pointer">{{record.time}}</td>
                                                        <td class="cursor_pointer">{{record.Judgement}}</td>
                                                        <td class="cursor_pointer">{{record.defectType}}</td>
                                                        <td class="cursor_pointer">{{record.inspectionResult}}</td>
                                                        <td class="cursor_pointer">{{record.sealScore}}</td>
                                                        <td class="cursor_pointer">{{record.sealDefectLocation}}</td>
                                                    </tr>
                                                 
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12 col-lg-12 text-center" *ngIf="isLoading">
                                            <img  src="assets/images/loader/Spinner.gif" style="width: 6rem;" alt="loading.." />
                                        </div>
                                        <div *ngIf="noRecord" class="norecords">
                                            <span>No Records Search</span>
                                        </div>
                                  
                                  
                                  
                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End List  -->
                    <!-- Image -->
                    <div class="m-t-20 ">
                        <div class="card customBoxShadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xlg-12">
                                        <div class="historyHeading">Images</div>
                                        <div class="row" style="margin-top: 25px;">
                                            <div class="col-md-12 col-lg-12  col-sm-4 col-xlg-12">
                                                <div class="row scrollStyle">
                                                    <div *ngFor="let img of allrecords" (click)="imageZoomModelFunction(imageZoomModel)" class="col-sm-2 col-2 d-flex justify-content-center justify-content-between-xs IsActiveAminitie" style="    flex-direction: column;
                                                    align-items: center;">
                                                        <img alt="Card image cap" style="cursor: pointer;
                                                        height: auto;
                                                        width: 100%;
                                                        padding: 10px;"  class="card-img-top img-responsive default_height_img icoImgStyle " src="{{img.image}}">
                                                        <span>{{img.time}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="noRecord" class="norecords">
                                            <span>No Images Search</span>
                                        </div>
                                        <div class="col-md-12 col-lg-12 text-center" *ngIf="isLoading">
                                            <img  src="assets/images/loader/Spinner.gif" style="width: 6rem;" alt="loading.." />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Image -->
                <!-- Summary -->
                    <div class="m-t-20 ">
                        <div class="card customBoxShadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xlg-12">
                                        <div class="historyHeading">Summary</div>
                                        <div class="row" style="margin-top: 25px;">
                                            <div class="col-md-12 col-lg-12  col-sm-4 col-xlg-12">
                                                <div class="row parantFlexSummary">
                                                    <div class="flexcontenerSummary" >
                                                        <div class="">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="3" class="text-center custom_border customBackground">Breakdown of Inspection Record</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class=" customTd custom_border">Pass</td>
                                                                        <td class="custom_border">530</td>
                                                                        <td class="custom_border">99.6%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="customTd custom_border">Fail</td>
                                                                        <td class="custom_border">2</td>
                                                                        <td class="custom_border">0.376%</td>
                                                                    </tr>
                                                                    <tr class="custom_border_top">
                                                                        <td class="customTd custom_border">Total</td>
                                                                        <td class="custom_border">532</td>
                                                                        <td class="custom_border">100%</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    
                                                    </div>
                                                    <div class="flexcontenerSummary" >
                                                        <div class="">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="3" class="text-center custom_border customBackground">Breakdown of Fail Type</th>
                                                                    
                                                                        
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="customTd custom_border">Pass</td>
                                                                        <td class="custom_border">530</td>
                                                                        <td class="custom_border">99.6%</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="customTd custom_border">Fail</td>
                                                                        <td class="custom_border">2</td>
                                                                        <td class="custom_border">0.376%</td>
                                                                    </tr>
                                                                    <tr class="custom_border_top">
                                                                        <td class="customTd custom_border">Total</td>
                                                                        <td class="custom_border">532</td>
                                                                        <td class="custom_border">100%</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- End summary -->
                     </div>
                </div>
        <!-- New code -->
        <!-- new code end -->
            </div>
        </div>





        <ng-template #imageZoomModel let-c="close" let-d="dismiss">
            <div class="modal-header background_color">
                <button type="button" class="outline_none custom_color_white close mod_close_btn" aria-label="Close" id="imageModalClose" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
                <img alt="Card image cap" style="cursor: pointer;
                height: auto;
                width: 100%;"  class="card-img-top img-responsive default_height_img icoImgStyle " src="assets/images/productimg/xrayImg2.PNG">
        </ng-template>

        <ng-template #filterrecords let-c="close" let-d="dismiss">
            <div class="modal-header customBackgroundColor">
                <div>
                    <span class="headersStyle">Search Records</span>
                </div>
                <button type="button" style="color: #fff;" class="outline_none custom_color_white close mod_close_btn" aria-label="Close" (click)="d('Cross click')">
                     <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card m_b_0" style="background-color: #eaeaea;">
                  <div class="card-body">
                    <div class="row d-flex align-items-center">
                      <label class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0 fontWeight" for="country">Inspection Record</label>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0">
                        <select [(ngModel)]="inspectionRecord"  name="cName" class=" input_BOX input-box-text-style" id="selectedCompanyName">
                            <option value="">inspection record</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <label class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0 fontWeight" for="startTime">Start Time</label>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0">
                            <input type="text" class=" input_BOX input-box-text-style" placeholder="Enter user name"
                                [(ngModel)]="startTime" name="startTime" >
                        </div>
                      </div>
                      <div class="row d-flex align-items-center">
                        <label class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0 fontWeight" for="stopTime">Stop Time</label>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0">
                            <input type="text" class=" input_BOX input-box-text-style" placeholder="Enter user name"
                            [(ngModel)]="endTime" name="stopTime">
                        </div>
                      </div>
                      <div class="row d-flex align-items-center">
                        <label class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0 fontWeight" for="productRun"> Rroduct/Run</label>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0">
                            <input type="text" class=" input_BOX input-box-text-style" placeholder="Enter user name"
                            [(ngModel)]="productRun" name="productRun">
                        </div>
                      </div>
                      <div class="row d-flex align-items-center">
                        <label class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0 fontWeight" for="productName">Product Name</label>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0">
                            <input type="text" class=" input_BOX input-box-text-style" placeholder="Enter user name"
                            [(ngModel)]="productName" name="productName">
                        </div>
                      </div>
                      <div class="row d-flex align-items-center">
                        <label class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0 fontWeight" for="lotCode">Lot Code</label>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-2 py-0">
                            <input type="text" class=" input_BOX input-box-text-style" placeholder="Enter user name"
                            [(ngModel)]="lotCode" name="lotCode">
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row text-center m_18">
                    <div class="col-12">
                      <button type="button" (click)="d('Cross click')"
                        class="btn btn btn-danger">Cancel</button>
                      <button type="button" style="margin-left: 12px; " (click)="searchRecords();"
                        class="btn btn btn-success  background_color">Search</button>
                    </div>
                  </div>
              </div>
        </ng-template>
        
    </div>
</div>































