.card_style{
    margin: 20px 158px;
    padding: 32px 48px;
    border: 2px solid #e9ecef
}
.input_BOX{
    padding: 2px 5px;
    font-size: 15px;
    width: 100%;
}
.input-box-text-style{
    line-height: 22px;
    font-size: 12px;
    color: #717171;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}



@media (max-width: 1200px) {
    .card_style{
        padding: 32px 12px;
        border: 2px solid #e9ecef;
        margin: 5px 5px;
    
    }
  }

  .customButtonHeight{
    line-height: 15px;
}

.flexcontenersideBar{
    /* margin-top: 70px; */
    position: fixed;
    left: 16px;
    top: 62px;
}
.flexcontener{
    margin-top: 110px;
    height: 75vh;
}

.headingTextStyle{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.backgroundLightGray{
    background-color: #8080800f;
    height: 100vh;
    padding-bottom: 6px;
}
.backgroundColorWhite{
    background-color: #fff;
}
.paddingCustom{
    padding: 1px 22px 1px 6px;
}